[Unit]
Description=USB MIDI Controller Mapping
Before=qlcplus.service
After=udev.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/consistent_usb_mapping.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
